<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Matkaklubi</title>
    <%- include ("../partials/header.ejs") %>
</head>
<body>
    <div class="paiskonteiner">
        <div class="container">
            <%- include ("../partials/matkamenyy.ejs") %>      
            <div class="row pealkiri">
                <div class="col-lg-6 pealkiri-tekstid">
                  <div class="rida1">
                      <h2>
                          Matkaklubi
                      </h2>
                      <img class="liblikas1 img-fluid" src="pildid/liblikas1.png" alt="">
                  </div>  
                  <div class="rida2">
                    <img class="liblikas2" src="pildid/liblikas2.png" alt="">
                      <h1>
                          Puhas Higi
                      </h1>
                  </div>
                  <div class="rida3">
                      <h3>
                          Tule liiguta ennast koos meiega
                      </h3>
                  </div>
                  <button class="nupp-paises">
                    Võta ühendust
                  </button>

                </div>
                <div class="d-none d-lg-block col-lg-6 pealispilt">
                    <img class="matkaja" src="pildid/matkaja.png" alt="">
                    <img class="vari" src="pildid/vari.png" alt="">
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div>
            <h2><%= matkad.length %> registreerimiseks avatud matka</h2>
        </div>
        <div class="row">
            <% 
            let matk;
            for (let i = 0; i < matkad.length; i++) { 
                matk = matkad[i]
            %>
            <div class="col-md-4 card">
                <img class="card-img-top" src="<%= matk.piltUrl %>"></img>
                <div class="card-body">
                    <div class="card-title">
                        <h3>
                            <%= matk.nimetus %>
                        </h3>
                    </div>
                    <p class="card-text">
                        <%= matk.kirjeldus %>
                    </p>
                    <p>
                        Matkale registreerunuid: <%= matk.registreerunud.length %>
                    </p>
                    <a class="btn btn-primary" href="/matkainfo/<%= i %>">Registreeru</a>
                </div>

            </div> 
            <% } %>                                 
        </div>
    </div>

    
</body>
</html>